@inherits LayoutComponentBase

<main class="wrapper">
    <h1>Business Calculator</h1>
    <p>some stuff and stuff and stuff</p>
    <img class="full-bleed" alt="cute meerkat" src="/meerkat.jpg" />
</main>