<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Calculator Workflow Designer</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div id="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Calculator Workflow Designer</h5>


    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-primary" onclick="addActivity()">Add Activity</button>
            </li>
            <li class="nav-item">
                <wf-export-button workflow-designer-host="designerHost"></wf-export-button>
            </li>
            <li class="nav-item">
                <button class="btn btn-secondary" onclick="importWorkflow()">Import</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-secondary" onclick="createNewWorkflow()">New Workflow</button>
            </li>
        </ul>
    </div>
</div>


<script type="text/javascript">
    const designer = document.querySelector("#designeHost");
    
    function addActivity() {
      designer.showActivityPicker();
    }
    
    function createNewWorkflow() {
       if(confirm('T? R U SRSLY WANNA DISCARD THUZZZ CHANGES? PLX SINK TWU TAIMS PLX!'))
           designer.newWorkflow();
    }
    
    function importWorkflow() {
      designer.import();
    }
</script>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}