<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Filipp System Workflow Designer</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span><svg viewBox="0 0 8 8"><use xlink:href="#addActivity"></use></svg> Add Activity
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <wf-export-button workflow-designer-host="designerHost"></wf-export-button>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-plus" aria-hidden="true"></span><svg viewBox="0 0 8 8"><use xlink:href="#importWorkflow"></use></svg> Import
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-list-rich" aria-hidden="true"></span><svg viewBox="0 0 8 8"><use xlink:href="#createNewWorkflow"></use></svg> New Workflow
            </NavLink>
        </li>
    </ul>
</div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private object _designer = DesignerHost;

    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    //     const designer = document.querySelector("#designerHost");
    //
    // function addActivity() {
    //     designer.showActivityPicker();
    // }
    //
    // function createNewWorkflow() {
    //     if (confirm('T? R U SRSLY WANNA DISCARD THUZZZ CHANGES? PLX SINK TWU TAIMS PLX!'))
    //         designer.newWorkflow();
    // }
    //
    // function importWorkflow() {
    //     designer.import();
    // }


    private static void AddActivity()
    {
        throw new NotImplementedException();
    }
    
    private static object DesignerHost => null;

}