<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Calculator Workflow Designer</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav">
        <li class="nav-item">
            <button class="btn btn-primary" @onclick="AddActivity">Add Activity</button>
        </li>
        <li class="nav-item">
            <wf-export-button workflow-designer-host="@DesignerHost"></wf-export-button>
        </li>
        <li class="nav-item">
            <button class="btn btn-secondary" @onclick="ImportWorkflow">Import</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-secondary" @onclick="CreateNewWorkflow">New Workflow</button>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private object _designer = DesignerHost;

    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    //     const designer = document.querySelector("#designerHost");
    //
    // function addActivity() {
    //     designer.showActivityPicker();
    // }
    //
    // function createNewWorkflow() {
    //     if (confirm('T? R U SRSLY WANNA DISCARD THUZZZ CHANGES? PLX SINK TWU TAIMS PLX!'))
    //         designer.newWorkflow();
    // }
    //
    // function importWorkflow() {
    //     designer.import();
    // }


    private void AddActivity()
    {
        throw new NotImplementedException();
    }
    
    private static object DesignerHost {get; set; }

}