<div class="alert alert-danger">
    Sind Sie sicher, dass Sie den Mitarbeiter löschen möchten?
    <button class="btn btn-warning" @onclick="@(async () => await ConfirmAsync(false))">Abbrechen</button>
    <span>&nbsp;</span>
    <button class="btn btn-danger" @onclick="@(async () => await ConfirmAsync(true))">Löschen</button>
</div>
@code {
    /// <summary>
    /// Delegate confirmation to parent.
    /// </summary>
    [Parameter]
    public EventCallback<bool> Confirmation { get; set; }

    /// <summary>
    /// Confirmation.
    /// </summary>
    /// <param name="confirmed"><c>True</c> when confirmed.</param>
    /// <returns>A <see cref="Task"/>.</returns>
    public async Task ConfirmAsync(bool confirmed)
    {
        await Confirmation.InvokeAsync(confirmed);
    }
}