@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <wf-designer-host id="designerHost" canvas-height="300vh"></wf-designer-host>
            </div>
        </div>
    </div>
</div>